.root {
  margin: 0;
  user-select: none;
  background: var(--primary);
  //position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  cursor: url('/images/cursor/cursor.png') 32 32, auto;
  box-sizing: border-box;
  position: relative;
}

.root > div {
  position: absolute;
  width: 100%;
  height: 90vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.root > div > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40vh;
  height: 80vh;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  box-sizing: border-box;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .root > div > div {
    width: 40vh;
    height: 70vh;
  }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .root > div > div {
    width: 40vh;
    height: 70vh;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .root > div > div {
    width: 40vh;
    height: 70vh;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .root > div > div {
    width: 65vh;
    height: 90vh;
  }
}


.root_image_gallery {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  //position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  cursor: url('/images/cursor/cursor.png') 39 39,
  auto;
}

.root_image_gallery > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  box-sizing: border-box;
}

.root_image_gallery > div > div {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-sizing: border-box;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  overflow: hidden;
  color: white;
  cursor: pointer;
  background-color: white;
}

.container_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: all .5s ease-in-out;
}

.container_img:hover {
  transform: scale(1.1, 1.1);
}