html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes scaleSize {
  from {
    font-size: 1.6rem;
  }

  to {
    font-size: 3rem;
  }
}

.text-banner {
  animation-name: scaleSize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
  left: 0;
}
